html {
  display: none;
  height: 100%;
  margin: 0;
  background-image: url("https://i.imgur.com/r6JPltq.jpg");
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
}

.light-mode {
  color: white;
  float: left;
  z-index: 4;
  position: fixed;
  top: 15px;
  left: 15px;
}

.dark-mode {
  color: black;
  float: left;
  z-index: 4;
  position: fixed;
  top: 15px;
  left: 15px;
}

.dark-mode:hover {
  cursor: pointer;
  color: blue;
}

.light-mode:hover {
  color: yellow !important;
  cursor: pointer;
}

.menu-modal {
  display: none;
}

main {
  height: 100%;
}

.bottom-menu,
#bottom-menu {
  display: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

body {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color: white;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0%;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  min-height: 500px;
  overflow: scroll;
  margin: 0;
  padding-bottom: 50px;
  padding-top: 60px;
}

.pageholder {
  height: 86%;
  width: 100%;
}

.hidden {
  display: none;
  height: 100%;
  width: 100%;
}

h1 {
  /* background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgb(22, 22, 118),
    rgba(0, 0, 0, 0)
  ); */
  /* padding: 15px 0px 15px 0px; */
  margin: 0 0 0 0;
  color: white;
  line-height: 60px;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: black;
  width: 100%;
  font-family: "Raleway", sans-serif;
}

#brand-statement {
  margin-top: 0;
  margin-bottom: 5px;
}

#brand-statement-container {
  margin: 0 10px 0 10px;
}

#contact-link {
  color: white;
  text-decoration: none;
  border: white 1px solid;
  padding: 10px;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

#contact-container {
  display: flex;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
}

/* #contact-container:hover {
    color rgb(172, 187, 218);;
} */

#contact-link:hover {
  color: rgb(172, 187, 218) !important;
  border-color: rgb(172, 187, 218) !important;
  cursor: pointer;
}

#testimonials-header {
  display: inline-block;
  margin-bottom: 0;
}
#testimonial-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#testimonial-button:hover {
  color: rgb(172, 187, 218) !important;
  cursor: pointer;
}

/* #testimonials-arrow:hover {
    color rgb(172, 187, 218);;
} */

#testimonials-container {
  display: none;
  justify-content: center;
  flex-basis: 0;
  margin-bottom: 2%;
}

.testimonials {
  background-image: linear-gradient(hwb(0 0% 100% / 0), rgb(77, 84, 133));
  margin: 0px 1% 0px 1%;
  padding: 15px;
  width: 25%;
  color: white;
  border-radius: 20px;
}

h5 {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.bottom-links {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  color: white;
  background-color: black;
  /* background-image: linear-gradient(
    rgba(0, 0, 0, 0.273),
    rgb(22, 22, 118),
  ); */
}

nav {
  position: fixed;
  margin-top: 0px;
  bottom: 0;
  width: 100%;
}

.navlinks {
  line-height: 50px;
  color: white;
}

.logo {
  width: 30px;
  margin-right: 5px;
}

#links {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

/* ABOUT ME PAGE STYLING */

#skeletor {
  width: 300px;
}

#aboutme {
  min-height: 600px;
}

.page-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

p {
  text-align: center;
  margin-bottom: 2%;
}

#my-story {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* PROJECT PAGE STYLING */

.project-header {
  margin-top: 20px;
  margin-bottom: 0;
}

#projects-content {
  padding-bottom: 60px;
  padding-top: 60px;
}

#carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
}

.carousel-images {
  display: flex;
  justify-content: center;
  padding: 0;
  width: 50%;
  margin: 2%;
  min-width: 250px;
}

.carousel-pic {
  width: 90%;
  border: white 4px solid;
  min-width: 200px;
}

.carousel-scroll:hover {
  color: rgb(172, 187, 218) !important;
  cursor: pointer;
}

.carousel-images img {
  display: none;
}

.carousel-images .carousel-pic:first-of-type {
  display: block;
}

#video-thumbs img {
  width: 10%;
  margin: 10px 0 10px 0;
  min-width: 100px;
}

#code1:hover,
#v-force:hover,
#covert:hover,
#wedlock:hover {
  box-shadow: 0px 0px 15px peachpuff !important;
  cursor: pointer;
}

a:hover {
  color: red !important;
}

/* MODAL STYLING */

.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 110%;
  width: 100%;
  z-index: 4;
  overflow: auto;
  /* min-height: 650px;
  max-height: 800px; */
}

#wedlock-text {
  min-height: 550px;
  max-height: 600px;
}

#code1-modal-text {
  background-image: url("https://i.pinimg.com/originals/da/96/22/da96228c593d53a3f932c339f5c28b21.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  min-height: 200px;
}

#covert1080 {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.modal a,
p {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.close {
  color: white;
  text-align: left;
  display: inline-block;
  padding: 0;
  margin-right: 100%;
}

#covert-modal-text {
  height: 50%;
  min-height: 500px;
  max-height: 500px;
}

#v-force-text {
  max-height: 600px;
}

.modal-textbox {
  background-color: rgb(48, 48, 48);
  height: 70%;
  width: 100%;
  min-height: 550px;
  border-radius: 2px;
  margin-top: 100px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
}

.modal h3 {
  margin-top: 0;
}

#watch-here {
  line-height: 60px;
  color: white;
  text-decoration: underline;
}

#watch-here:hover {
  color: rgb(172, 187, 218) !important;
  cursor: pointer;
}

iframe {
  width: 680px;
  height: 400px;
}

.close:hover {
  color: red !important;
  cursor: pointer;
}

.logo:hover {
  cursor: pointer !important;
}

/* RESUME PAGE STYLING */

.resume-container {
  width: 100%;
  height: 90%;
}

#resume-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 600px;
}

.resume-header {
  text-align: left;
}

.time {
  text-align: right;
}

.job {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.resume-company {
  text-align: left;
  margin: 0 60px 0 60px;
}

.title-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 60px 0 60px;
  color: red;
}

@media (max-width: 600px) {
  .resume-company {
    font-size: small;
    margin: 0px 15px 0px 15px;
  }

  #resume-text {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .title-time {
    font-size: small;
    margin: 0px 15px 0px 15px;
  }

  .resume-header {
    font-size: small;
  }

  #covert1080 {
    width: 300px;
  }

  iframe {
    width: 360px;
    height: 200px;
  }

  .modal-textbox,
  #covert-modal-text,
  #v-force-text,
  #wedlock-text {
    max-height: 400px;
    min-height: 400px;
  }

  #aboutme {
    justify-content: center;
    min-height: 550px;
    height: 84%;
  }

  html,
  body,
  .main-container {
    width: 100%;
  }

  h1 {
    margin-bottom: 0;
  }

  #brand-statement {
    padding-top: 0;
    margin-top: 20px;
  }

  .main-container {
    justify-content: space-between;
    height: 80%;
  }

  #testimonial-button {
    margin-bottom: 10px;
  }

  #testimonials-container {
    flex-direction: column;
    align-items: center;
  }

  .testimonials {
    width: 80%;
    margin-bottom: 10px;
  }

  .page-content {
    flex-direction: column;
    align-items: center;
  }

  #skeletor {
    width: 160px;
    /* margin-top: 20px; */
  }

  #my-story {
    width: 80%;
    font-size: medium;
  }

  .navlinks,
  #links {
    display: none;
  }

  .bottom-menu,
  #bottom-menu {
    display: inline-block;
  }

  .bottom-menu:hover {
    color: red !important;
    cursor: pointer;
  }

  a:hover {
    color: red !important;
    cursor: pointer;
  }

  .menu-modal {
    z-index: 1;
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: 0;
  }

  .vertical-menu {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 90%;
    overflow: scroll;
  }

  .navlinks2 {
    color: black;
    font-size: 8vh;
  }

  .menu-modal-text {
    padding-top: 8vh;
    background-color: white;
    margin-top: 8vh;
    width: 100%;
    height: 70%;
    padding-bottom: 8vh;
  }
  nav {
    z-index: 2;
  }

  .links2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 8vh;
    margin: 0 20px 0 20px;
  }

  .bottom-links {
    display: flex;
    align-content: center;
    background-color: black;
    height: 50px;
  }
}
